.curso-container {
    border: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ac7bec;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.curso-container:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.curso-container button {
    background-color: #7b25c2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

.curso-container button:hover {
    background-color: #783adb;
}

.curso-container h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.curso-container p {
    color: white;
    margin-bottom: 8px;
    font-size: 16px;
}

.divfoda{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    margin: 5px;
}
.title-container h1 {
    text-align: center;
}
.curso-container .action-button {
    margin: 5px;
}