body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E4D6FF;
    color: rgb(211, 255, 253);
    height: 2000px;
}

h1 {
    text-align: center;
    color: #402D65;
    font-weight: bold;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #6D5A93;
}

th, td {
    padding: 10px;
    border: 1px solid #6D5A93;
    text-align: center;
    color: #402D65;
}

th {
    background-color: #6D5A93;
    color: #FFFFFF;
}

.action-button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #8674AA; /* Cor roxa mais clara */
    background-color: #8674AA; /* Cor roxa mais clara */
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Adicionando transição */
}

.action-button:hover {
    background-color: #6D5A93;
    border-color: #6D5A93;
}

.action-link {
    color: #402D65;
    text-decoration: none;
}

.action-link:hover {
    color: #6D5A93;
}
.update-button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #8674AA; /* Cor da borda igual ao botão Delete */
    background-color: #8674AA; /* Cor de fundo igual ao botão Delete */
    color: #FFFFFF; /* Cor do texto branca */
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Adicionando transição */
}

.update-button:hover {
    background-color: #6D5A93; /* Cor de fundo mais escura ao passar o mouse */
    border-color: #6D5A93; /* Cor da borda mais escura ao passar o mouse */
}




