body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E4D6FF;
    color: rgb(211, 255, 253);
    height: 2000px;
}

h1 {
    text-align: center;
    color: #402D65;
    font-weight: bold;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #6D5A93;
}

th, td {
    padding: 10px;
    border: 1px solid #6D5A93;
    text-align: center;
    color: #402D65;
}

th {
    background-color: #6D5A93;
    color: #FFFFFF;
}

.action-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #402D65;
    color: white;
    text-decoration: none;
}

.action-link {
    color: #402D65;
    text-decoration: none;
}

.action-link:hover {
    color: #6D5A93;
}
